@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

body {
    font-family: "Adobe 黑体 Std R";
    animation: fadein 1s ease-in-out 1;
}

.login_form {
    width: 40%;
    border-radius: 12px;
    padding: 30px 40px 40px 40px;
    box-shadow: #1890ff 0 0 20px;
    height: 400px;
    background-color: white;
    opacity: 0.9;
}

.login_input {
    width: 100%;
    margin: auto;
    border-radius: 12px;
    height: 40px;
}

.login_button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.main_background {
    background: url(http://cdn.algbb.fun/22.jpg) no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.chat_blur {
    width: 930px;
    height: 530px;
    background-size: 100% 100%;
    position: fixed;
    filter: blur(10px);
    background: inherit;
    /*opacity: 0.8;*/
    border-radius: 12px;
}

.chat_background {
    width: 920px;
    height: 510px;
    /*opacity: 0.8;*/
    border-radius: 12px;
    box-shadow: #0d547d 0 0 20px 2px;
}

.chatArea {
    height: 380px;
}

.room-status {
    text-align: center;
    font-size: 13px;
}

.room-name {
    margin-left: -50px;
    width: 140%;
    user-select: none;
    display: flex;
    align-items: center;
    height: 60px;
}

.room-name p {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    /*float: left;*/
    height: 60px;
    color: #444;
}

.room-name button {
    margin-left: 400px;
    font-size: 18px;
    color: #22aeff;
    border: #22aeff 1px solid;
    background-color: transparent;
}

.chat_header {
    height: 60px;
    background-color: rgba(250, 250, 250, 0.6);
    border-bottom: rgba(222, 222, 222, 0.8) 1px solid;
}

.messages {
    padding: 5px 15px 10px;
    font-size: 15px;
    height: 380px;
    overflow-y: auto;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.51);
    /*scroll-behavior: smooth;*/
}

.messages::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 5px #d1d1d1;
    background: rgba(13, 38, 75, 0.6);
}

.messages::-webkit-scrollbar-thumb:active {
    background: #1890ff;
}

.messages::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(241, 241, 241, 0.1);
}

.one-message.system-message {
    font-size: 13px;
    color: #e6e6e6;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    user-select: none;
}

.one-message {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 5px;
    flex: 1;
}

p {
    margin-bottom: 5px;
}

.time {
    /*color: #e6e6e6;*/
    color: #666;
    user-select: none;
    font-size: 11px;
}

.time span {
    font-size: 13px;
}

.message-content {
    color: #666;
    padding: 5px 10px;
    margin: 0;
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.1);
    word-break: break-word;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    /*word-wrap: normal;*/
    max-width: 320px;
}

.image_message {
    max-width: 300px;
    max-height: 300px;
}

.me {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.me .message-content {
    background: rgba(84, 195, 255, 0.8);
    color: white;
}

.function_icon {
    width: 32px;
    height: 32px;
    background: url("http://cdn.algbb.fun/icon/function.png") no-repeat center;
    background-size: 100% 100%;
    opacity: 0.6;
    /*margin-left: 15px;*/
    outline: none;
    border: none;
    transition: all 0.25s ease-in-out;
}

.function_icon:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.emoji_icon {
    width: 32px;
    height: 32px;
    background: url("http://cdn.algbb.fun/icon/emoji.png") no-repeat center;
    background-size: 100% 100%;
    opacity: 0.8;
    outline: none;
    border: none;
    transition: all 0.25s ease-in-out;
}

.emoji_icon:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.emoji {
    width: 400px;
    height: 200px;
}

.emoji_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -15px;
}

.emoji_item {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.emoji_item:hover {
    background-color: #ebebeb;
    transition: all 0.5s;
}

.emoji_item > div {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}

.input_box {
    width: 360px;
    opacity: 0.6;
}

.send_button {
    width: 32px;
    height: 32px;
    background: url("http://cdn.algbb.fun/icon/send.png") no-repeat center;
    background-size: 100% 100%;
    transform: rotate(45deg);
    opacity: 0.8;
    outline: none;
    border: none;
    transition: all 0.25s ease-in-out;
}

.send_button:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.chat_footer {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    user-select: none;
}

.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(222, 222, 222, 0.8) 1px solid;
    border-bottom-right-radius: 12px;
    padding: 24px 32px;
    background-color: rgba(255, 255, 255, 0.61);
}

.button {
    margin-left: 20px;
    display: block;
}

.user_list {
    background-color: #fffaff;
    width: 250px;
    height: 510px;
    position: absolute;
    right: 0;
    z-index: 1000;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    /*color: rgba(13, 38, 75, 0.8);*/
    color: #333;
    overflow: hidden;
    user-select: none;
}

.user_list p {
    margin: 20px 0 10px 14px;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}

.user_list_header {
    border-bottom: rgba(189, 189, 189, 0.8) 1px solid;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.user_list_header p {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
}

.user_list_onlineuser {
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.user_list_onlineuser::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

.user_list_onlineuser::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 10px #d1d1d1;
    background: #aaa;
}

.user_list_onlineuser::-webkit-scrollbar-thumb:active {
    background: #1890ff;
}

.user_list_onlineuser::-webkit-scrollbar-track {
    border-radius: 12px;
    background: #f1f1f1;
}

.user_list_onlineuser_item {
    width: 20%;
    height: 60px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_list_onlineuser_avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.user_list_onlineuser_username {
    width: 50px;
    text-align: center;
    /*word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.user_list_function {
    width: 90%;
    margin: 10px 14px;
    background-color: #fa4b2a;
    border: #fa4b2a 1px solid;
}

.user_list_function:hover{
    background-color: red;
    border: red;
}
.user_list_function:visited{
    background-color: red;
    border: red;
}
.user_list_function:active{
    background-color: red;
    border: red;
}
.user_list_function:focus{
    background-color: #fa4b2a;
    border: #fa4b2a;
}

.sider_avater {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.headportrait {
    display: block;
    width: 60px;
    height: 60px;
    background: url("http://cdn.algbb.fun/avater/avater.gif");
    background-size: 100% 100%;
    border-radius: 50%;
    border: none;
    outline: none;
}

.headportrait:hover {
    filter: blur(1px);
}

.sider_icon {
    width: 70px;
    height: 320px;
    margin-top: 50px;
}

.sider_icon_item {
    width: 25px;
    height: 25px;
    margin: 25px auto;
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sider_icon .first_item {
    margin: 0 auto;
}

.sider_icon_item button {
    background-color: transparent;
    border: none;
    color: #f1f1f1;
    opacity: 0.6;
    font-size: 25px;
    line-height: 25px;
}

.sider_icon_item button:hover {
    background-color: transparent;
    color: white;
    opacity: 1;
}

.sider_icon_item button:focus {
    background-color: transparent;
}

.sider_tools {
    height: 510px;
    background-color: rgba(24, 144, 255, 0.6);
    /*opacity: 0.8;*/
    width: 70px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    float: left;
}

.sider_content {
    height: 510px;
    background-color: rgba(84, 195, 255, 0.6);
    /*opacity: 0.8;*/
    width: 280px;
    float: right;
    user-select: none;
}

.sider_search {
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    width: 250px;
}

.search_input {
    width: 80%;
}

.search_input input {
    border-radius: 14px;
    border: #f1f1f1 1px solid;
}

.search_button {
    float: right;
    border: #f1f1f1 1px solid;
    font-size: 20px;
    font-weight: bold;
}

.sider_items {
    width: 280px;
    height: 90px;
    background-color: rgba(31, 170, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sider_item {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;

}

.sider_item_avater {
    width: 50px;
    height: 50px;
    background: url("http://cdn.algbb.fun/avater/fat.jpg");
    background-size: 100%;
    border-radius: 50%;
}

.sider_item_content {
    width: 180px;
    height: 50px;
    margin-left: 15px;
}

.sider_item_content_nametime {
    height: 16px;
}

.sider_item_content_nametime .name {
    font-size: 14px;
    margin: 2px 0;
    font-weight: bold;
    color: #f1f1f1;
    float: left;
}

.sider_item_content_nametime .time {
    font-size: 12px;
    margin: 3px 0;
    color: #f1f1f1;
    float: right;
}

.pre_content {
    height: 20px;
    margin-top: 12px;
    width: 160px;
}

.pre_content .content {
    height: 20px;
    width: 160px;
    font-size: 12px;
    color: #f1f1f1;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat_avater {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 18px;
    background-size: 100% 100%;
    border-radius: 50%;
}

.myavater {
    float: right;
}

.change_headportrait {
    display: none;
}

.change_headportrait:hover {
    text-decoration: none;
}

.select_headportrait {
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    border: none;
    outline: none;
}

.select_headportrait:hover {
    filter: blur(2px);
}
